<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/createComplaint" method="post">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="content" placeholder="content">
        <input class="w-full px-2 py-2 bg-blue-500 rounded-md" type="submit" value="Post">
    </form>
</body>
</html>